services:
  app:
    build: .
    restart: unless-stopped
    env_file: .env
    volumes:
      - app-data:/app/data
    networks:
      - internal

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-webroot:/var/www/certbot
    depends_on:
      - app
    networks:
      - internal

  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-webroot:/var/www/certbot

volumes:
  app-data:
  certbot-etc:
  certbot-var:
  certbot-webroot:

networks:
  internal:
